/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 690px;
  min-width: 288px;
  margin: 0 0 0 100px;
 }

 @media screen and (max-width: 1279px) {
  .intro {
    margin: 0 0 0 48px;
  }
}

 @media screen and (max-width: 1023px) {
  .intro {
    margin: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    margin: 0 16px;
  }
}