.header__link {
    color: #FFF;
    text-decoration-line: none;
    opacity: 1;
    transition: .3s;
    text-decoration-line: underline;
}

.header__link:last-child {
    margin-left: 18px;
    text-decoration-line: none;
}

.header__link:hover {
    opacity: .3;
}